/*
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
font-family: 'Mukta Mahee', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Alegreya', serif;

*/

/*header top row*/
.top-row{background:#33a621;color:#fff;}
.top-row-lefticons span{font-size:12px;line-height:15px;}
.top-row-righticons {float:right;}
.top-row-righticons i{display:inline;font-size:14px;padding: 3px 5px 2px;line-height:15px;}
.top-row-righticons i:hover{color:#1548c6;}

/*login page header style*/
.navbar-default{background:#fff;border:0px solid red;}
.navbar{min-height:80px;margin-bottom: 0px}
.navbar-brand{
    border:0px solid red;
    float: left;
    height: 80px;	
}
.navbar-brand img{
    border:0x solid green;
    margin-top:-12px;
}
.navbar-nav {margin-top:14px;border:0px solid green;}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #f99;
    background: none;
    font-family: 'Work Sans', sans-serif;
}
.sub-header{background:#f9f9f9;}
.sub-heading{padding:15px;font-size:22px;font-weight:300;}

/*main page features sections
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
font-family: 'Mukta Mahee', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Alegreya', serif;
*/
.features-section{border:0px solid red;margin-bottom:30px;}
.features-title{text-align:center;font-size:18px;padding:40px;font-family: 'Work Sans', sans-serif;}
.features-tagline{text-align:center;font-size:20px;margin-bottom:40px;font-family: 'Work Sans', sans-serif;}
.features-box{height:120px;margin-bottom:30px;background:#f9f9f9;}
.features-box i{color: #33a621;font-size:35px;padding:15px;text-align:center;display:block;}
.features-box-content{border:0px solid green;text-align:center;padding:5px;font-family: 'Roboto Slab', serif;font-size:15px;}

/*software description section*/
.software-description-bg{border:0px solid red;display:block;overflow:hidden;background:#f9f9f9;padding:30px;}
.software-description{border:0px solid red;display:block;overflow:hidden;padding:30px;}
.software-description-title{text-align:center;font-size:22px;font-family: 'Roboto Slab', serif;margin-bottom:50px;}
.software-description-box{margin-bottom:50px;}
.software-description-list-title{font-size:18px;font-family: 'Roboto Slab', serif;margin-bottom: 8px;}
.software-description-list ul{margin-left:-30px;}
.software-description-list ul li{color:#333;line-height:180%;font-size:14px;font-family: 'Work Sans', sans-serif;}
.software-description-img{border:0px solid red;margin-top:5px;}
.software-description-img img{height:200px;width:400px;}
.software-description-img-left{margin-bottom: 15px;}
.software-description-img-left img{height:200px;width:400px;}

/*about us page */
.about-section{border:0px solid red;margin-top:40px;}
.about-tagline{font-size:22px;text-align:center;font-family: 'Noto Serif', serif;}
.about-content{padding:30px;font-family: 'Noto Serif', serif;line-height:180%;}

/*Footer Section*/
.footer-section{border:0px solid red;background:#33a621;color:#fff;padding-top:10px;}
.footer-list ul{text-align:center;border:0px solid red;}
.footer-list ul li{list-style:none;display:inline;padding:10px;}
.footer-list ul li a{text-decoration:none;color:#fff;font-size:12px;font-family: 'Work Sans', sans-serif;}
.footer-list ul li a:hover{text-decoration:none;color:#1548c6;}
.copyright{text-align:center;font-size:12px;font-family: 'Work Sans', sans-serif;}

.error-message {
    clear: both;
    color: #FF0000;
}
.success {
    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}


