<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
              <?php echo $this->Session->flash(); ?>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="button-list mt-25">
                            <a type="button" data-toggle="tooltip" data-original-title="Bank Book" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_bank_book')); ?>"><span class="btn-text">Bank Book</span></a>
                            <a type="button" data-toggle="tooltip" data-original-title="Bank Reconciliation" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_bank_reconciliation')); ?>"><span class="btn-text">Bank Reconciliation</span></a>
                            <a type="button" data-toggle="tooltip" data-original-title="Cash Book" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_cash_book')); ?>"><span class="btn-text">Cash Book</span></a>
                            <a type="button" data-toggle="tooltip" data-original-title="Dues From Members" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_dues_from_member')); ?>"><span class="btn-text">Dues From Members</span></a>
                            <a type="button" data-toggle="tooltip" data-original-title="Advanced Received From Members" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_dues_advance_from_member')); ?>"><span class="btn-text">Dues-Advanced From Members</span></a>
                            <!--<a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php //echo Router::url(array('controller' =>'account_reports','action' =>'account_member_ledger')); ?>"><span class="btn-text">Member Ledger</span></a>-->
                            <a type="button" data-toggle="tooltip" data-original-title="General Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_general_ledger')); ?>"><span class="btn-text">General Ledger</span></a>
                            <a type="button" data-toggle="tooltip" data-original-title="Income & Expenditure Statement" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_income_exp_statement')); ?>"><span class="btn-text">Income & Expenditure Statement</span></a>                          
                            <a type="button" data-toggle="tooltip" data-original-title="Balance Sheet" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_balance_sheet')); ?>"><span class="btn-text">Balance Sheet</span></a>                          
                            <a type="button" data-toggle="tooltip" data-original-title="Petty Cash Register" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_petty_cash')); ?>"><span class="btn-text">Petty Cash Register</span></a>                          
                            <a type="button" data-toggle="tooltip" data-original-title="Payment Register" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_payment_register')); ?>"><span class="btn-text">Payment Register</span></a>                          
                            <a type="button" data-toggle="tooltip" data-original-title="Member Monthly Contribution" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_member_monthly_contribution')); ?>"><span class="btn-text">Member Monthly Contribution</span></a> 
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_member_ledger_default')); ?>"><span class="btn-text">Member Ledger Default</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'bill_half_page')); ?>"><span class="btn-text">Bill Half Page</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'bill_full_page')); ?>"><span class="btn-text">Bill Full Page</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'bill_tax_invoice_gst')); ?>"><span class="btn-text">Bill Tax Invoice(GST)</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_bank_slip')); ?>"><span class="btn-text">Bank Slip</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_journal_voucher_register')); ?>"><span class="btn-text">Journal Voucher Register</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_member_list')); ?>"><span class="btn-text">Member List</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_collection_sheet')); ?>"><span class="btn-text">Collection Sheet</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_trail_balalnce')); ?>"><span class="btn-text">Trial Balance</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_bill_register')); ?>"><span class="btn-text">Bill Register</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_gst_register')); ?>"><span class="btn-text">GST Register</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'bill_with_interest_gst')); ?>"><span class="btn-text">Bill With Interest & GST</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'member_collection_register')); ?>"><span class="btn-text">Member Collection Register</span></a>                         
                            <a type="button" data-toggle="tooltip" data-original-title="Member Ledger" class="btn btn-default" target="_blank" href="<?php echo Router::url(array('controller' =>'account_reports','action' =>'account_receipt_payment')); ?>"><span class="btn-text">Receipt & Payment</span></a>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
